/*General stylesheets*/
@media (min-width: 800px){
	html{overflow-y: hidden;
		margin-right: 0px !important;}
}

body{
	background: url(../images/bg.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	color: #666;
	font-family: 'Open Sans', Arial, helvetica, sans-serif;
	font-size: 14px;
	margin-top: 30px;
}

@media (max-width: 800px){
	body{margin-top: 0px;}
	
	.global-wrap{
		margin:0px auto !important;
		}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', arial, helvetica, sans-serif;
	margin-top: 0;
	font-weight: 300;
	color: #4d4d4d;
}

h5 {
	font-weight: 400;
}

img {
	width: 100%;
	max-width: none;
}

.disableRow .row{
margin-left: 0px !important;
margin-right: 0px !important;
}

.tab-content img {
	width: auto;
	}

.ccm-ui img{
	width: auto;
	}

header.main a, footer.main a {
	color: #fff;
}

header.main a:hover, footer.main a:hover {
	text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.small-gap {
	display: block;
	position: relative;
	margin: 15px 0 15px 0;
	clear: both;
	overflow: hidden;
}

.gap {
	display: block;
	position: relative;
	margin: 30px 0 30px 0;
	clear: both;
	overflow: hidden;
}

.gap:after, .small-gap:after  {
	content: '';
	display: table;
	clear: both;
}

.btn {
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #666;
	border: 1px solid #e6e6e6;
}

.btn-primary{
border-color: #148495;
  background-color: #1693a5;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
  border-color: #127684;
    background-color: #127684;
}

.btn-ghost {
	background: none;
}

.text-white{
	color: #fff;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-bigger {
	font-size: 16px;
}

.bgColor{
	background-color: #1693a5;
}

.global-wrap{
	margin: 30px auto;
	-webkit-box-shadow: 0 4px 2px rgba(0,0,0,0.2);
	box-shadow: 0 4px 2px rgba(0,0,0,0.2);
	background: #f2f2f2;
	padding: 0px;
}

label {
  font-weight: 600;
}

.form-control {
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

div.ccm-panel-detail{
display: block;	
	}

/*Padding & margin styles*/
.mt5 {
	margin-top: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

@media (max-width: 800px){
.r-mb20 {
	margin-bottom: 20px !important;
}	
	
.r-mb40 {
	margin-bottom: 40px !important;
}

.gap{
	  margin: 10px 0 10px 0;
	  }
.r-mlr15{
	margin: 0 15px;
	}
	

}

.pl0{
padding-left: 0px;	
	}
	
.pr0{
padding-right: 0px;	
}

/*Header styles*/
.top-main-area{
	padding: 15px 0;
	background: #fff;
	position: relative;
	z-index: 100;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.logo {
	display: block;
	width: auto;
}

.logo > img {
	max-width: 270px;
}

.header-features{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

.header-features > li{
	display: inline-block;
	margin-right: 20px;
}

@media (max-width: 800px){
.header-features > li{
	margin-right: 0px !important;
	}	
}

.header-features > li .fa{
	float: left;
	margin-right: 7px;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #79B97E;
	color: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.header-features > li .header-feature-caption{
	display: table;
}

.header-features > li .header-feature-title{
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 1px;
	line-height: 1em;
	color: #6e6e6e;
	margin-top: 4px;
}

.header-features > li .header-feature-sub-title{
	margin: 0;
	font-size: 12px;
	color: #949494;
}

header.main{
	background: #333;
	border-bottom: 3px solid #1693a5;
}

.login-register {
	list-style: none;
	margin: 0;
	float: right;
	padding: 0;
}

.login-register > li {
	display: inline-block;
	border-right: 1px solid rgba(0,0,0,0.3);
	position: relative;
}

.login-register > li:last-child {
	margin-right: 0;
	padding-right: 0;
	border: none;
}

.login-register > li > a {
	font-size: 11px;
	text-transform: uppercase;
	padding: 0 13px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
	display: block;
	line-height: 50px;
	height: 50px;
}

.login-register > li > a [class^="fa fa-"] {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
	margin-right: 7px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	font-size: 15px;
	line-height: 0;
	position: relative;
}

.login-register > li > a:hover [class^="fa fa-"] {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

/*Flex nav*/
.nav-pills > li > a {
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
}
.flexnav ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.flexnav {
	position: relative;
	-webkit-transition: 0;
	-moz-transition: 0;
	-o-transition: 0;
	-ms-transition: 0;
	transition: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 100;
}

.flexnav li {
	margin: 0 !important;
}

.item-with-ul:hover .sub-menu {
	display: block;
}

.flexnav li a {
	margin: 0;
	padding: 10px 15px;
	text-decoration: none;
}

.flexnav > li > a {
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}

.flexnav a {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	font-size: 13px;
}

.flexnav-menu-button{
	background: #1693a5;
	margin-bottom: 0px;
}

.touch-button{
	background: #1693a5;
}

.touch-button.active{
	background: #127684;
}

.flexnav li.active > a, .flexnav li.active > a:focus ,.flexnav li > a:focus{
	border-color: #1693a5 !important;
	background-color: #1693a5;
}

.flexnav li.active > a:hover {
  background: #1693a5;
  color: #fff;
}

@media (min-width: 800px){
.flexnav-menu-button {
  display: none;
}

.flexnav li > ul {
    z-index: 1;
	width: 200px;
    padding-top: 3px;
}

.flexnav li > ul li {
	width: 100%;
}
.flexnav li ul li > a {
	border-top: 0px solid #1a1a1a;
	background: #262626;
	color: #fff;
}

.item-with-ul > a::after{
font-family: FontAwesome;
padding-left: 15px;
content: '\f107';
}

.flexnav li ul li > a:hover, .flexnav li ul li > a:focus {
  background:#1693a5;
}

.flexnav li.active > a, .flexnav li.active > a:hover ,.flexnav li > a:hover,.flexnav li.active > a:focus ,.flexnav li > a:focus{

	background-color: #1693a5;
}
}

@media (max-width: 800px){
.flexnav {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-height: 0;
}

.login-register > li > a [class^="fa fa-"]{
	font-size: 40px;
}

.login-register > li > a {
  line-height: 68px;
  height: 68px;
  padding: 0px;
}
}
/*END FLEXNAV*/




/*MFP Style*/
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045;
}

.mfp-move-from-top .mfp-content {
	vertical-align: top;
}


.mfp-dialog {
	background: #fff;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mfp-dialog .dialog-icon {
	position: absolute;
	left: -60px;
	top: 5px;
	width: 60px;
	height: 60px;
	display: block;
	line-height: 60px;
	text-align: center;
	color: #fff;
	background: #1693a5;
	font-size: 27px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	top: -150px;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	top: 0px;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
	top: -150px;
}

.mfp-fade .mfp-content {
	vertical-align: top;
}

.mfp-dialog .dialog-alt-links {
  list-style: none;
  margin: 0;
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-size: 13px;
}

.mfp-dialog .dialog-alt-links li {
  float: left;
  margin-left: 15px;
}

.mfp-dialog .dialog-alt-links li  a{
  color: #1693a5;
}

.mfp-dialog .dialog-alt-links li  a:hover{
  color: #127684;
  text-decoration: none;
}


/*Top area*/
.top-area {
	position: relative;
	overflow: hidden;
}


.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
	color: #fff;
	zoom: 1;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.owl-controls .owl-buttons div {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
	margin: -30px 0 0 0;
	background: rgba(0,0,0,0.2);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	font-size: 17px;
}

.owl-controls .owl-buttons div.owl-prev {
	left: 30px;
}

.owl-controls .owl-buttons div.owl-next {
	right: 30px;
}

.owl-controls .owl-buttons div:before {
	font-family: 'FontAwesome';
}

.owl-controls .owl-buttons div.owl-prev:before {
	content: '\f104';
}

.owl-controls .owl-buttons div.owl-next:before {
	content: '\f105';
}

.owl-controls .owl-pagination {
	margin: 0;
	position: absolute;
	bottom: 30px;
	width: 100%;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
	color: #fff !important;
	display: inline-block;
	zoom: 1;
	margin: 5px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.owl-controls .owl-pagination .owl-page span {
	background: #fff;
}

.owl-theme .owl-controls{
margin: 0px !important;}

.vert-center {
	left: 50%;
	right: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slider-caption {
	padding: 20px 30px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: table;
}

.btn-ghost.btn-white {
	color: #fff;
	border: 1px solid #fff;
}

.btn-ghost.btn-white:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #666;
}

.sub-text {
	width: 400px;
	overflow: hidden;
	height: 58px;
	margin: 20px 0;
	display: table;
	margin: 20px auto;
	padding: 15px 0;
	border-top: 1px solid rgba(255,255,255,0.15);
	border-bottom: 1px solid rgba(255,255,255,0.15);
	font-size: 20px;
}

/*Paralax section*/
.bg-holder {
	position: relative;
	overflow: hidden;
}

.bg-holder > .bg-mask, .bg-holder > .bg-blur, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-parallax {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert {
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: #000;
}

.bg-holder > .bg-mask, .bg-holder > .bg-parallax {
	width: 100%;
	height: 100%;
}

.bg-holder > .bg-parallax {
	background-position: 50% 0;
	background-attachment: fixed;
}

.bg-holder > .bg-holder-content {
	position: relative;
	z-index: 6;
}

/*Product*/
.product-row a{
	text-decoration: none;
}

.product-thumb {
	z-index: 1;
	position: relative;
	text-decoration: none !important;
	display: block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	text-align: center;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.product-thumb:hover {
	-webkit-transform: translate3d(0, -5px, 0);
	-moz-transform: translate3d(0, -5px, 0);
	-o-transform: translate3d(0, -5px, 0);
	-ms-transform: translate3d(0, -5px, 0);
	transform: translate3d(0, -5px, 0);
	-webkit-box-shadow: 0 4px 2px rgba(0,0,0,0.25);
	box-shadow: 0 4px 2px rgba(0,0,0,0.25);
}

.product-header {
	position: relative;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.product-thumb .product-header >img {
	display: block;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.product-thumb .product-inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 20px 22px;
	border-top: none;
	position: relative;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.product-thumb .product-title {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 2;
	margin-bottom: 5px;
	font-size: 16px;
}
.product-desciption {
	color: #858585;
	font-size: 12px;
	margin-bottom: 0;
	line-height: 1.4em;
}

.product-link {
	border-top: 1px dashed #e6e6e6;
	margin-top: 13px;
	padding-top: 8px;
	line-height: 1em;
	margin-bottom: 0;
	color: #a3a3a3;
	font-size: 12px;
}

/*Footer*/
footer.main {
	background: #1a1a1a;
	border-top: 3px solid #1693a5;
}

footer.main p {
  margin-bottom: 0;
  color: #999;
}

footer.main p, footer.main a {
  font-size: 13px;
  line-height: 1.4em;
}

footer.main h4{
  color: #f2f2f2;
}

footer.main .footer-copyright {
	padding: 10px 0;
	background: #000;
    color: #999;
}

footer.main .footer-top-area {
  padding: 30px 0px;
  background: #1f1f1f;
}

.list.list-social {
  overflow: hidden;
  margin: 15px 0 10px 0;
}
.list.list-social li {
  float: left;
  margin-right: 12px;
}
.list.list-social li .box-icon {
  font-size: 12px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.box-icon {
  display: block;
  background-color: #1693a5;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.box-icon:hover {
  color: #fff;
  background: #127684;
}

.box {
  background: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0 2px 1px rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.twitter-ticker {
  padding: 15px;
  background: #141414;
  position: relative;
  margin-bottom: 56px;
  font-size: 14px -1;
}

.twitter-ticker:before {
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  left: 50%;
  margin-left: -13px;
  bottom: -13px;
  background: #141414;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.twitter-ticker .tf-tweets li {
  line-height: 16px;
  color: #b3b3b3;
  display: none;
}

.twitter-ticker .tf-tweets li:first-child {
  display: list-item;
}

.twitter-ticker:after {
  position: absolute;
  content: '\f099';
  font-family: 'FontAwesome';
  display: block;
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -25px;
  font-size: 25px;
  color: #ccc;
  bottom: -56px;
  text-align: center;
}

.tf-tweet .tf-meta {
  color: #fff !important;
  font-size: 11px;
  margin-top: 5px;
}

.tf-tweet .tf-date{
color: #fff;
}

/*Bootstrap carousel*/
.rslides_nav {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background: #1693a5;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 50%;
  margin-top: -15px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.rslides_nav:hover, .rslides_nav:focus {
  outline: none;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.rslides_nav:before {
  font-family: 'FontAwesome';
}

.rslides_nav.prev:before {
  content: '\f053';
}

.rslides_nav.next:before {
  content: '\f054';
}

/*Sidebar*/
.nav-sidebar{
  margin-bottom: 30px;
  -webkit-box-shadow: 0 3px 1px rgba(0,0,0,0.15);
  box-shadow: 0 3px 1px rgba(0,0,0,0.15);
}

.nav-sidebar{
margin-right: 20px;
}

.nav-sidebar > .nav > li:first-child{
border-top: none;
}

.nav-sidebar > .nav > li > a{
  text-transform: uppercase;
  font-size: 13px;
  z-index: 1;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  border-left: none;
  border-right: none;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  height: 40px;
  line-height: 40px;
  padding: 0px 0px 0px 55px;
  position: relative;
  margin: 0;
  color: #666;
}

.nav-sidebar > .nav > li > a:hover{
  background: #fbfbfb;
  padding-left: 25px;
  color: #1693a5;
}

.nav-sidebar > .nav > .nav-selected > a, .nav-sidebar > .nav > .nav-selected > a:hover{
  z-index: 2;
  background: #1693a5;
  color: #fff;
  padding-left: 15px;
}

.nav-sidebar > .nav > .nav-selected > a::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  top: 6px;
  right: -15px;
  background: #1693a5;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.nav-sidebar > .nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  z-index: 1;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  border-left: none;
  border-right: none;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  height: 40px;
  line-height: 40px;
  padding: 0px 0px 0px 15px;
  position: relative;
  margin: 0;
  color: #666;
}

/*Product page*/
.icon-group {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1693a5;
}

.icon-group > li {
  line-height: 1em;
  display: inline-block;
  margin-right: 3px;
}

.ccm-block-share-this-page a{
	color: #1693a5;#127684
}

.ccm-block-share-this-page a:hover{
	color: #127684;
}

.tabbable >.nav li a {
  border: none;
  color: #666;
}

.tabbable >.nav li a:hover, .tabbable >.nav li a:focus {
  background: none;
}

.tabbable >.nav li.active a {
  background: #1693a5;
  color: #fff;
  border: none;
}

.tabbable >.nav li .fa {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #4d4d4d;
  color: #fff;
  text-align: center;
  font-size: 13px;
}

.tabbable >.nav li.active .fa {
  background: #0f6774;
}

.tabbable .tab-content {
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-top: none;
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.specs table{
width: 100%;	
}

.specs table > tbody > tr > td, .specs table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.specs  table > tbody > tr:nth-child(even) > td, .specs  table > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

/*Panel styles*/
.panel-default > .panel-heading {
  background: #fff;
  padding: 0;
}
.panel-title {
  font-weight: 400;
}
.panel-title > a {
  display: block;
  position: relative;
  padding: 10px 15px;
  background: #fff;
}

.panel-title > a:hover, .panel-title > a:focus{
	text-decoration: none;
	color: #127684;
	}
	
.panel-title > a:before {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  font-size: 16px;
  top: 10px;
  right: 15px;
}

.panel-collapse{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.collapse.in{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.logoRef {
margin-bottom: 20px;
}

.product-info h1{
	word-wrap: break-word;
	}